/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 14px ; 
    font-family: 'Open Sans', sans-serif;
} 
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
button , input[type="submit"] {
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    color: var(--white);
    font-weight: 700;
    background-image: linear-gradient( to right , var(--cyan) 20% , var(--l-blue)); 
    transition: background-image .3s;   
}
button:hover , input[type="submit"]:hover{
    background-image : linear-gradient( to right , var(--cyan), var(--cyan)); 
}
.container {
    padding: 0 90px;
    margin: 0 auto; 
    width: 98%;
}
@media (max-width : 992px){
    .container{
    padding : 0 45px ;
}
}
@media (max-width : 767px){
    .container {
        padding: 0 20px;
    }
}


  /* End Global Rules */

/* Start Variables */
:root{
 --intro-color : hsl(217,28%,15%)  ; 
 --main-color : hsl(218 , 28% , 13%) ; 
 --white :  hsl(0 , 0% , 100%)     ; 
 --Secondary-font : 'Raleway', sans-serif;
 --cyan : hsl(176,68%,64%) ; 
 --l-blue : hsl(198,60%,50%) ; 
}
/* End Variables */

/* Start Header */
header{
    height: 120px;
    background-color: var(--intro-color);
}
 header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
} 
header .logo {
    width: 120px; 
    cursor: pointer;
}
@media (max-width : 767px){
    header .logo {
        width: 80px;
    }
}
header .logo img {
    max-width: 100%;
}
header .links {
    display: flex;
    flex-grow: 1; 
    justify-content: flex-end;
}
header  .links li a {
    display: inline-block; 
    color: var(--white);
    font-family: var(--Secondary-font) ;
    text-transform: capitalize;
    transition:  font-weight , text-decoration .25s;
}
header  .links li:not(:last-child) a {
margin-right: 50px;
}
@media (max-width : 767px){
    header  .links li:not(:last-child) a {
        margin-right: 25px;
    }
}

header  .links  a:hover {
font-weight: 700;
text-decoration: underline;
}
/* End Header */

/* Start Intro */
.intro-image{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--intro-color); 
    padding-bottom: 30px;
}
.intro-image img {
    max-width: 525px;
}
@media (max-width : 767px){
    .intro-image {
        margin-top: -1px;
    }
    .intro-image img {
        max-width: 250px;
    }
}
.intro-text{
    background : var(--intro-color) url("../images/bg-curvy-desktop.svg") no-repeat top ; 
    background-size: cover;
}
.intro-text .container {
    min-height: 400px;
    text-align: center;
}
@media (max-width : 767px){
    .intro-text{
        background-image: none;  
        margin-top: -2px;
    }
    .intro-text .container{
        padding-bottom: 100px;
        min-height: auto;
    }
}

.intro-text h1 {
    margin: 0 auto 25px;
    text-align: center;
    font-family: var(--Secondary-font);
    font-weight: 700;
    color: var(--white);
    font-size: 30px;
    line-height: 1.4;
}
.intro-text p {
    margin: 0 auto 30px;
    font-family: var(--Secondary-font);
    color: var(--white);
    text-align: center;
    line-height: 1.6;
    max-width: 490px;
    padding: 0 30px;
    text-indent: -10px;
}
@media (max-width : 767px){
    .intro-text h1 {
        margin-bottom: 40px;
    }
    .intro-text br{
        display: none;
    }
    .intro-text p {
        margin-bottom: 30px;
        line-height: 1.8;
    }
}
/* End Intro */

/* Start Features */
.features {
    padding-bottom: 100px;
    background-color: var(--main-color); 
}
.features .container{
    display: grid;
    grid-template-columns: repeat(2, minmax(350px , 1fr));
    grid-gap : 50px ; 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.features .container .box{
    text-align: center;
} 
.features .container .box .image{
    width: 50px;
    margin: 0 auto 20px;
} 
.features .container .box .image img{
    max-width: 100%;
} 
.features .container .box h4{
    font-weight: 700;
    color: var(--white);
    margin: 0 0 20px;
}
.features .container .box p{
    color: var(--white);
    line-height: 1.8;
   max-width: 350px;
   margin: 0 auto;
}
@media (max-width : 767px){
    .features{
        margin-top: -2px;
    }
    .features .container {
        grid-template-columns: minmax(350px , 1fr);
    }
    
}

/* End Features */

/* Start Productive */
.prod {
    background-color: var(--main-color);
    padding-top: 80px;
    padding-bottom: 80px;
}
.prod .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod .image {
    max-width: 500px;
    margin-right: 100px;
}
 .prod .image img{
width: 100%;
} 
.prod .text {
    padding : 0 25px ;
}
.prod .text h2 {
    color: var(--white);
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    font-family: var(--Secondary-font);
}
.prod .text p {
    margin-bottom: 20px;
    color: var(--white);
    max-width: 620px;
    line-height: 1.4;
}

.prod .text .more {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--cyan);
    width: fit-content;
    color: var(--cyan);
    cursor: pointer;
    transition: color , border-bottom-color .3s;
}
.prod .text .more:hover {
    color: var(--white);  
    border-bottom-color : var(--white)
}

.prod .text .more a {
    color:inherit; 
    margin-right: 5px;
}
@media (max-width : 992px){
   .prod .text h2{
    font-size: 25px;
   } 
}
@media (max-width : 767px){

    .prod{
        margin-top: -2px;
    }
    .prod .container {
      flex-direction: column;
  } 
  .prod .image{
      margin : 0 0 40px;
  }
  .prod .text{
      padding: 0;
  }
  .prod .text h2{
      font-size: 18px;
  }
  .prod .text h2  br{
    display: none;
  }
}

/* End Productive */

/* Start testimonials */

.testimonials{
    padding-top: 100px;
    padding-bottom: 300px; 
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
}
@media(max-width : 767px){
    .testimonials{
        margin-top: -2px;
    } 
}
.testimonials .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3 , minmax(300px , 1fr));
    justify-content: center;
    align-items: center;
    position: relative;
}


@media (max-width : 992px){
    .testimonials .container {
      grid-template-columns: minmax(300px , 1fr);
    } 
}

.testimonials .container .box {
    background-color: hsl(219,30%,18%);
    padding : 40px 30px 30px ; 
    color: var(--white);
    border-radius: 6px;
    box-shadow: 4px -4px 0px 0px var(--intro-color) , 
    4px -4px 0px 0px var(--intro-color) ; 
}
.testimonials .container .box:first-child {
   position: relative; 
}


.testimonials .container .box .quotes{
    position: absolute;
    top: -40px;
    left: -10px;
    width: 60px;
    z-index: -1;
}
@media (max-width : 992px){
    .testimonials .container .box .quotes{
    top: -30px;
    left: 5px;
    width: 40px;
}
}
.testimonials .container .box p {
    line-height: 1.7;
    margin-bottom: 15px;
}

.testimonials .container .box .person  {
    display: flex;
   align-items: center;

}
.testimonials .container .box .person img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonials .container .box .person .who h5{
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 16px;
}

/* End testimonials */

/* Start Access */
.access{
    background-color: var(--intro-color);
    color: var(--white);
    position: absolute;
    bottom: calc(-270px / 2);
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 270px;
    padding: 40px 0;
    text-align: center;
    border-radius: 10px;
    font-family: var( --Secondary-font);
}
@media (max-width : 767px){
    .access {
        width: 94%;
        padding: 30px 20px;
        height: 330px;
        bottom: calc(-330px /2);
    }
}
.access p {
    max-width: 630px;
    margin: 0 auto 30px;
    line-height: 1.8;
}
@media (max-width :767px){
    .access h1 {
        font-size: 20px;
        margin: 0 auto 20px;
    }
}
.access form {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
@media (max-width : 767px){
    .access form {
        flex-direction: column; 
        padding: 0 ;
    }
}
input:focus{
    outline: none;
}
.access form input[type="email"] {
    width: calc(100% - 230px);
    border: none;
    border-radius: 30px ;
    padding-left: 25px;
    caret-color: var(--l-blue);
    height: 40px;
}

@media (max-width :767px){
    .access form input[type="email"]{
        width: 95%;
        margin-bottom: 15px;
    }
    .access form input[type="submit"]{
        width: 95%;
    }
}
/* End Access */

/* Start Footer */
footer{
    padding-top: 250px;
    padding-bottom: 100px;
    background-color: hsl(216,53%,9%);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    color: var(--white);
}
@media (max-width :992px){
    footer {
        margin-top : -2px ; 
        position: relative;
    }
}

footer .container .logo{
    width: 250px; 
    margin-bottom: 50px;
}
footer .container .logo img{
    max-width: 100%;
}
footer .container .info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
footer .container .info > div:not(:last-child){
    margin-right: 35px; 
    color: var(--white);
}

footer .container .info .localisation {
    display: flex;
    flex-basis: 35%; 
    align-items: flex-start;
}
footer .container .info .localisation p{
    line-height: 1.6;
    max-width:350px ; 
    margin-left: 20px;
}

footer .container .info .contact > div {
    display: flex;
    align-items: center;
}
footer .container .info .phone {
    margin-bottom: 20px;
}
footer .container .info .phone span ,
footer .container .info .mail a{ 
    margin-left: 20px;
} 
footer .container .info .links {
    display: flex;
    flex-direction: column;
  
}
footer .container .info .links a {
    display:inline-block ; 
    margin-bottom: 20px; 
    transition: font-weight .3s;
}
footer .container .info .links a:hover {
    font-weight : 700 ; 
}

footer .container .info .social-media  a{
    transition: color , border .3s;
}
footer .container .info .social-media  a:not(:last-child){
    margin-right: 15px;
}
footer .container .info .social-media  a:hover i {
    color: var(--cyan);
    border-color: var(--cyan);
}
@media (max-width : 992px){
    footer .container .info{
    flex-direction: column; 
    }

    footer .container .info .localisation {
        flex-basis: auto; 
        margin: 0  0 20px;
    }
    footer .container .info .localisation p{
        max-width: 100% ; 
    }
    footer .container .info .contact {
        margin : 0 0 50px ; 
    }
    
    footer .container .info .links {
        margin : 0 0 30px ; 
    }
    footer .container .info .social-media {
        position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    }


}


footer .container .info .social-media  i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border : 1px solid var(--white) ; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
} 



/* End Footer */