/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 14px ; 
    font-family: 'Open Sans', sans-serif;
} 
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    color: var(--white);
    font-weight: 700;
    background-image: linear-gradient( to right , var(--cyan) 20% , var(--l-blue)); 
    transition: background-image .3s;   
}
button:hover{
    background-image : linear-gradient( to right , var(--cyan), var(--cyan)); 
}
.container {
    padding: 0 50px;
    margin: 0 auto; 
    width: 98%;
}
@media (max-width : 767px){
    .container {
        padding: 0 25px;
    }
}


  /* End Global Rules */

/* Start Variables */
:root{
 --intro-color : hsl(217,28%,15%)  ; 
 --main-color : hsl(218 , 28% , 13%) ; 
 --white :  hsl(0 , 0% , 100%)     ; 
 --Secondary-font : 'Raleway', sans-serif;
 --cyan : hsl(176,68%,64%) ; 
 --l-blue : hsl(198,60%,50%) ; 
}
/* End Variables */

/* Start Header */
header{
    height: 120px;
    background-color: var(--intro-color);
}
 header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
} 
header .logo {
    width: 120px; 
    cursor: pointer;
}
@media (max-width : 767px){
    header .logo {
        width: 80px;
    }
}
header .logo img {
    max-width: 100%;
}
header .links {
    display: flex;
    flex-grow: 1; 
    justify-content: flex-end;
}
header  .links li a {
    display: inline-block; 
    color: var(--white);
    font-family: var(--Secondary-font) ;
    text-transform: capitalize;
    transition:  font-weight , text-decoration .25s;
}
header  .links li:not(:last-child) a {
margin-right: 50px;
}
@media (max-width : 767px){
    header  .links li:not(:last-child) a {
        margin-right: 25px;
    }
}

header  .links  a:hover {
font-weight: 700;
text-decoration: underline;
}
/* End Header */

/* Start Intro */
.intro-image{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--intro-color); 
    padding-bottom: 30px;
}
.intro-image img {
    max-width: 525px;
}
@media (max-width : 767px){
    .intro-image {
        margin-top: -1px;
    }
    .intro-image img {
        max-width: 250px;
    }
}
.intro-text{
    background : var(--intro-color) url("../images/bg-curvy-desktop.svg") no-repeat top ; 
    background-size: cover;
}
.intro-text .container {
    min-height: 400px;
    text-align: center;
}
@media (max-width : 767px){
    .intro-text{
        background-image: none;  
        margin-top: -2px;
    }
    .intro-text .container{
        padding-bottom: 100px;
        min-height: auto;
    }
}

.intro-text h1 {
    margin: 0 auto 25px;
    text-align: center;
    font-family: var(--Secondary-font);
    font-weight: 700;
    color: var(--white);
    font-size: 30px;
    line-height: 1.4;
}
.intro-text p {
    margin: 0 auto 30px;
    font-family: var(--Secondary-font);
    color: var(--white);
    text-align: center;
    line-height: 1.6;
    max-width: 490px;
    padding: 0 30px;
    text-indent: -10px;
}
@media (max-width : 767px){
    .intro-text h1 {
        margin-bottom: 40px;
    }
    .intro-text br{
        display: none;
    }
    .intro-text p {
        margin-bottom: 30px;
        line-height: 1.8;
    }
}
/* End Intro */

/* Start Features */
.features {
    padding-bottom: 100px;
    background-color: var(--main-color); 
}
.features .container{
    display: grid;
    grid-template-columns: repeat(2, minmax(350px , 1fr));
    grid-gap : 60px ; 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.features .container .box{
    text-align: center;
} 
.features .container .box .image{
    width: 50px;
    margin: 0 auto 20px;
} 
.features .container .box .image img{
    max-width: 100%;
} 
.features .container .box h4{
    font-weight: 700;
    color: var(--white);
    margin: 0 0 20px;
}
.features .container .box p{
    color: var(--white);
    line-height: 1.8;
   max-width: 350px;
   margin: 0 auto;
}
@media (max-width : 767px){
    .features{
        margin-top: -2px;
    }
    .features .container {
        grid-template-columns: minmax(350px , 1fr);
    }
    
}

/* End Features */